<h1>Listing items</h1>

<% if admin? %>
  <%= link_to 'New item', new_item_path %>
  <%= link_to 'Users', users_path %>
  <%= link_to 'Categories', categories_path %>
<% end %>

<table>
  <tr>
    <th>Title</th>
    <th>Category</th>
    <th>Text</th>
    <th>Price</th>
  </tr>

  <% @items.each do |item| %>
  <tr>
    <td><%= item.name %></td>
    <td><%= item.category.name %></td>
    <td><%= item.description %></td>
    <td><%= item.price %></td>
    <td><%= link_to 'Show', item_path(item) %></td>
    <% if admin? %>
      <td><%= link_to 'Edit', edit_item_path(item) %></td>
      <td><%= link_to 'Destroy', item_path(item),
            method: :delete,
            data: { confirm: 'Are you sure?' } %></td>
    <% end %>
    </tr>
  <% end %>
</table>


