<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<h2>Description</h2>
<%= @item.description %>

<img src="<%= @item.image_url %>" alt="Picture of <%=@item.name%>">


<% if admin? %>
  <%= link_to 'Edit', edit_item_path(@item) %>
<% end %>
<%= link_to 'Back', items_path %>
