<h1>Listing categories</h1>

<% if admin? %>
  <%= link_to 'New category', new_category_path %>
  <%= link_to 'Users', users_path %>
<% end %>

<table>
  <tr>
    <th>Name</th>
  </tr>

  <% @categories.each do |category| %>
  <tr>
    <td><%= category.name %></td>
    <% if admin? %>
      <td><%= link_to 'Edit', edit_category_path(category) %></td>
      <td><%= link_to 'Destroy', category_path(category),
            method: :delete,
            data: { confirm: 'Are you sure?' } %></td>
    <% end %>
    </tr>
  <% end %>
</table>


