<!DOCTYPE html>
<html>
<head>
  <title>OnlineShoppeJonGregg</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
  Signed in as <%= current_user.username %> | <%= link_to 'logout', '/logout' %>
<% else %>
  <%= link_to 'login', '/login' %> | <%= link_to 'register', new_user_path(current_user) %>
<% end %>

<%= yield %>

</body>
</html>
